{% extends "backend.html.twig" %}
{% block title %} agregar una nueva clase de producto {% endblock %}
{% block activoClaseProducto %} "activo" {% endblock %}

{% block contenido %}

    <ol class="breadcrumb">
        <li><a href="{{ path('sm_admin_portada') }}">Inicio</a></li>
        <li><a href="{{ path('sm_admin_clase_producto') }}">Clase de Producto</a></li>
        <li class="active">Agregar</li>
    </ol>  

    <!-- Formulario -->
    <form class="form-new" role="form" action="{{ path('sm_admin_clase_producto_new') }}" method="POST">
    {{ form_errors(formulario) }}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Información Básica</h3>
            </div>
            <div class="panel-body"> 

                <div class="row">
                    <div class="col-sm-4">
                        {{ form_widget(formulario.nombre) }}
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-md-4 col-md-offset-0">
                    </div>
                </div>

            </div>
        </div>      

        <div class="sub-panel">
            <div class="text-left">
                {{ form_widget(formulario.confirmarRegistro) }}
                <a href=" {{ path('sm_admin_clase_producto') }} ">
                    <button type="button" class="btn btn-default">Cancelar</button>
                </a>
            </div>
        </div>  

        {{ form_rest(formulario) }}
            

    </form>
    <!-- Fin formulario -->


{% endblock %}