{% extends '::base.html.twig' %}

{% block menu %}
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class= {% block activoPortada %} {% endblock %} ><a href="{{ path('sm_admin_portada') }}">Inicio</a></li>
            <li class= {% block activoCliente %} {% endblock %} ><a href="{{ path('sm_admin_cliente') }}">Cliente</a></li>
            <li class= {% block activoEmpleado %} {% endblock %} ><a href=" {{ path('sm_admin_empleado') }} ">Empleado</a></li>                            
            <li class= {% block activoTipoIncidente %} {% endblock %} ><a href="{{ path('sm_admin_tipo_incidente') }}">Tipo Incidente</a></li>
            <li class= {% block activoProducto %} {% endblock %} ><a href="{{ path('sm_admin_producto') }}">Producto</a></li>
            <li class= {% block activoClaseProducto %} {% endblock %} ><a href="{{ path('sm_admin_clase_producto') }}">Clase Producto</a></li>
        </ul>
        <h3 class="text-muted">Super Market</h3>
    </div>
{% endblock %}