{% extends "backend.html.twig" %}
{% block title %} Clientes {% endblock %}
{% block activoCliente %} "activo" {% endblock %}

{% block contenido %}

    <div class="alert alert-danger oculto">
    </div>

    <div class="sub-header">
        <div class="col-lg-3 btn-search">
            <div class="input-group">
                <input type="text" required id="cedula" placeholder="Ingrese la cedula" class="form-control">
                <span class="input-group-btn">
                    <a id="searchCliente" class="btn btn-default" role="button">
                        Buscar
                    </a>
                </span>
            </div>
        </div>
        <div class="text-right">
            <a href="{{ path('sm_admin_cliente_new') }}">
                <button type="button" id="btnAdd" class="btn btn-danger">Agregar un cliente</button>
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class='table table-striped table-hover table-bordered'>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cedula</th>
                    <th>Nombre Completo</th>
                    <th>Direccion</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Fecha de registro</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody id="tbodyCliente">
                {% for cliente in clientesPadinados %}
                    <tr>
                        <td> {{ loop.index }}</td>
                        <td>{{ cliente.cedula }}</td>
                        <td>{{ cliente.nombreCompleto }}</td>
                        <td>{{ cliente.direccion }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.telefono }}</td>
                        <td>{{ cliente.fechaCreacion | date('d-m-Y') }}</td>
                        
                        <td class="td-no-hover">
                            <div class="btn-group btn-group-sm">
                              <a href="{{ path('sm_admin_cliente_edit', {'id': cliente.id}) }}" class="btn btn-default" role="button">
                                <i class="fa fa-pencil-square-o"></i>
                              </a>
                              <a href="{{ path('sm_admin_cliente_delete', {'id': cliente.id} ) }}" class="btn btn-default" role="button">
                                <i class="fa fa-trash-o"></i>
                              </a>
                            </div>
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {# incluimos el paginador  #}
        {{ knp_pagination_render(clientesPadinados) }}

    </div>

{% endblock %}

{% block jsContext %}
    <script>
        $(document).ready(function() {

            $('#searchCliente').click(function() {
                $.ajax({
                    // la URL para la petición
                    url: "{{ path('sm_admin_cliente_json') }}",
                    // la información a enviar
                    // (también es posible utilizar una cadena de datos)
                    data: {cedula: $('#cedula').val()},
                    // especifica si será una petición POST o GET
                    type: 'GET',
                    // el tipo de información que se espera de respuesta
                    dataType: 'json',
                    // código a ejecutar si la petición es satisfactoria;
                    // la respuesta es pasada como argumento a la función
                    success: function(json_cliente) {
                        // la petición puede devolver un objeto cliente con la información 
                        // del cliente en formato json, o puede devolver un objeto con un mensaje
                        // del tipo {"message":"texto indicando que no se encontró nada."}
                        if (typeof json_cliente.id == 'undefined') {
                            $('div.alert').html(json_cliente.message);
                            $('div.alert').show();
                            $('#tbodyCliente').html('');
                            return;
                        }

                        var items = [];
                        items.push('<tr>');
                        items.push('<td>' + json_cliente.id + '</td>');
                        items.push('<td>' + json_cliente.cedula + '</td>');
                        items.push('<td>' + json_cliente.nombres + ' ' + json_cliente.apellidos + '</td>');
                        items.push('</tr>');

                        // ocultamos la alerta danger
                        $('div.alert').hide();
                        // agregamos la columna representa el objeto devuelto
                        $('#tbodyCliente').html(items.join(''));
                    },
                    // código a ejecutar si la petición falla;
                    // son pasados como argumentos a la función
                    // el objeto jqXHR (extensión de XMLHttpRequest), un texto con el estatus
                    // de la petición y un texto con la descripción del error que haya dado el servidor
                    error: function(jqXHR, status, error) {
                        alert('Disculpe, existió un problema');
                    },
                    // código a ejecutar sin importar si la petición falló o no
                    complete: function(jqXHR, status) {
                        // el campo 'cedula' queda en blanco luego de hacer la búsqueda
                        $('#cedula').val(''); 
                        // elimino la páginación
                        $('ul.pagination').remove(); 
                    }
                });
            });
        });
    </script>
{% endblock %}